@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>

<div class="d-flex justify-content-between mr-5">
    <div>
        <p>
            Bookstore is an application for keeping track of the orders of a store selling books.
            The application allows you to work with the database to create and receive
            records about orders, employees, customers, books and their authors.
            On the main page, you can see basic statistics, top books, employees and clients.
        </p>

        <p class="font-italic">
            The application was developed by a 3rd year student of the Kherson National Technical University,
            <br />
            Kuzychenko Anastasia.
        </p>
    </div>
    <img class="ml-5" style="height: 330px" src="~/images/dev-girl.png" />
</div>