@model BookStore.Models.Author
@{
    ViewData["Title"] = "Edit author";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Edit Author</h1>
</div>

<form asp-action="Edit" method="POST" class="needs-validation" novalidate>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Name</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Enter name">
            <div class="invalid-feedback">
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Surname</label>
            <input type="text" class="form-control" asp-for="Surname" placeholder="Enter surname">
            <div class="invalid-feedback">
                <span asp-validation-for="Surname"></span>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Birthday</label>
            <input type="date" class="form-control" asp-for="Birthday">
            <div class="invalid-feedback">
                <span asp-validation-for="Birthday"></span>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Death</label>
            <input type="date" class="form-control" asp-for="Death">
            <div class="invalid-feedback">
                <span asp-validation-for="Death"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Info</label>
        <textarea type="text" class="form-control" asp-for="Info" placeholder="Enter author's info"></textarea>
        <div class="invalid-feedback">
            <span asp-validation-for="Info"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-danger" href="javascript:void(0);" onclick="history.go(-1);">Cancel</a>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        var settings = {
            validClass: "is-valid",
            errorClass: "is-invalid"
        };
        $.validator.setDefaults(settings);
        $.validator.unobtrusive.options = settings;
    </script>
}   